.venv/

__pycache__/
*.pyc
*.pyo
.python-version

derby.log
metastore_db/
spark-warehouse/

pyspark/data/*.csv
pyspark/data/*.parquet
pyspark/data/parquet/

**/.ipynb_checkpoints/

.DS_Store
Thumbs.db
